{{ partial "header" . }}
<article>
	<header>{{ partial "title" . }}</header>
	{{ .Content }}
	<nav class="no-print">
	{{ if .PrevInSection }}
		<a class="prev-post" href="{{.PrevInSection.Permalink}}">
			<img class="icon-text" src="/img/prev.svg"/>
			{{- .PrevInSection.Title -}}
		</a>
	{{ end }}
	{{ if .NextInSection }}
		<a class="next-post" href="{{.NextInSection.Permalink}}">
			{{- .NextInSection.Title -}}
			<img class="icon-text" src="/img/next.svg"/>
		</a>
	{{ end }}
	</nav>
</article>
{{ if in .Site.Params.DisqusSections .Section }}
	{{ partial "disqus" . }}
{{ end }}
{{ partial "footer" . }}
