<header class="container">
	<div class="row u-header">
		<div class="col">
			<hgroup id="brand">
				<h1>{{- .Site.Title -}}</h1>
				<h5>{{- .Site.Params.Tagline -}}</h5>
			</hgroup>
		</div>
		<div class="col align-right">
			<div class="row">
				<div class="col full">
					<nav class="top">
						<ul>
							<li>github</li>
							<li>twitter</li>
						</ul>
					</nav>
				</div>
				<div class="col full">
					<nav class="top">
						<ul>
							<li><h5><a href="/">Home</a></h5></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>
