{{ partial "header" . }}
<article>
	<header>
		{{ partial "title" . }}
		{{ with .Content }}{{.}}{{ end }}
	</header>
	{{ $latestcount := .Site.Params.LatestCount | default 3 }}
	{{ $postsection := .Site.Params.PostSection | default "blog" }}
	<section>
		<h4>{{ T "latestPost" }}</h4>
		<ul class="no-bullet">
			{{- range (first $latestcount (where .Pages "Section" $postsection)) -}}
			{{ partial "li" . }}
			{{- end -}}
		</ul>
	</section>

	{{ $worksection := .Site.Params.WorkSection | default "work" }}
	{{ with .Site.GetPage "section" $worksection }}
	<section>
		<h4>{{ T "latestWork" }}</h4>
		<ul class="no-bullet">
			{{- range (first $latestcount (where .Pages "Section" $worksection)) -}}
			{{ partial "li" . }}
			{{- end -}}
		</ul>
	</section>
	{{ end }}
</article>
{{ partial "footer" . }}
